


<div class="row">
  <div class="col-sm-6">
    <h1>People</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_person_path, class: 'btn btn-primary' do %>
    Add New Person
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Project</th>
            <th>Email</th>
            <th>Score</th>
            
      </tr>
    </thead>

    <tbody>
      <% @people.each do |person| %>
        <%= content_tag :tr, id: dom_id(person), class: dom_class(person) do %>
          
            <td><%= link_to person.name, person %></td>
          

                      <td><%= person.project %></td>
                      <td><%= person.email %></td>
                      <td><%= person.score %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
