


<div class="row">
  <div class="col-sm-6">
    <h1>Ratings</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_rating_path, class: 'btn btn-primary' do %>
    Add New Rating
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Person</th>
            <th>Score</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @ratings.each do |rating| %>
        <%= content_tag :tr, id: dom_id(rating), class: dom_class(rating) do %>
          

                      <td><%= rating.person %></td>
                      <td><%= rating.score %></td>
          
          
            <td><%= link_to 'Show', rating %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
